<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>Facebook</title>
		<script src="/socket.io/socket.io.js/"charset="utf-8"></script>
		<link rel="stylesheet"href="/css/main.css">
		<link rel="stylesheet"href="https://bootswatch.com/4/pulse/bootstrap.min.css">
	</head>
	<body>
			<nav class="navbar navbar-light bg-light">
					<span class="navbar-brand mb-0 h1 mx-auto">Facebook Lite</span>
			</nav>
			<br>
		<center>
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<form action="/"method="POST">
						<div class="form-group">
							<label class="control-label">Usuario</label>
							<p></p>
							<span id="errorA"></span>
							<input type="text"class="form-control"placeholder="Usuario"id="usuario"name="email">
							<br>
							<label class="control-label">Contraseña</label>
							<p></p>
							<span id="errorB"></span>
							<input type="password"class="form-control"placeholder="Contraseña"id="contraseña"name="password">
							<br>
							<button id="ingresar"class="btn btn-success">Ingresar</button>
						</form>
					</div>
				</center>
				<script src="./js/index.js"charset="utf-8"></script>
			</body>
</html>
